div a,ul a, h4 a{
    text-decoration: none;
    text-decoration-line: none;
}

img{
    display: block;
    width:100%;
    object-fit: cover;
}

:root{
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-black: #000;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #0d6efd;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
--bs-primary-rgb: 13,110,253;
--bs-secondary-rgb: 108,117,125;
--bs-success-rgb: 25,135,84;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    margin: 0%;
}

img{
    display: block;
    width:100%;
    object-fit: cover;
}

.section-nav{
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../img/house.jpg);
    background-color: rgba(0, 6, 6, .5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    position: center;
}

/* =============================== */
.nav--container{
    background-color: #000;
    width: 100%;
    height: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 11;
    /* background-color: transparent; */
}

.nav-link{
    display: flex;
    position: absolute;
    right: 6rem;
    padding: 0 30px;
    gap: 75px;
}
.toggle_btn i{
    font-size: xx-large;
    display: none;
    color: rgb(250, 250, 252);
}

nav a{
    color: white;
}

.nav-link a:hover{
    color: var(--bs-warning);
    transition: all 100ms ease;
}

.nav--container h2 a{
    text-decoration: none;
}
/* ============================= */

.hero-container{
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.hero-container p{
    font-size: 1.5rem;
    font-weight: 700;
}
.hero-container h1{
    font-size: 4rem;
}

.hero-container h1{
    margin: 1rem;
}

.hero-container a{
    background-color: #000;
    padding: 8px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    border-radius: 18px;
    border: none;
    width: 150px;
}

.hero-container a:hover{
   background-color: var(--bs-gray-100);
    color: #000;
}

/* =====================DROPDOWN NAV.===================== */
.dropdown_menu{
    display: none;
    position: absolute;
    right:2rem;
    top: 60px;
    height: 0;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 11;
}

.dropdown_menu.open{
    height: 300px;
}

.dropdown_menu li{
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    gap:1rem;
    padding: 0.7rem;
}

.dropdown_menu a:hover{
    color: rgb(255, 247, 0);
    text-shadow: 25%;
    font-size: large;
}

.dropdown_menu li:hover{
    background-color: rgb(65, 65, 140);
    transition: all 100ms ease;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.dropdown_menu a{
    color: white;
}

.registration{
    background-color: goldenrod;
    width: 110px;
    text-align: center;
    border-radius: 10px;
}

.registration:hover{
    color: #000;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.registration a:hover{
    color: #000;
}

.active{
    border-bottom:  2px solid var(--bs-warning);
}

.second{
    background-color: #000;
}


.booking{
    height: 100%;
    text-align: center;
}

.booking_holder{
    place-content: center;
    align-items: center;
    padding: 2rem;
}

.booking button{
    background-color: var(--bs-gray-100);
    padding: 8px;
    color: #000;
    margin-top: 6px;
    border-radius: 18px;
    border: none;
    width: 100px;
}

.booking button:hover{
    background-color: #000;
    color: rgb(255, 255, 255);
    
}

.carousel img{
    height: 400px;
}

/* =====================RESPONSIVE============================= */
@media (max-width:769px)  {
    .nav--container .nav-link{
        display: none !important;
        flex-direction: column;
        padding: 7px;
        gap: 5px;
        border: 0px;
        justify-content: right;
        text-align: left;
    }

    .dropdown_menu{
        display: block;
    }

    .nav--container i{
        display: block;
        cursor: pointer;
    }

    .hero-container p{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width:560px){
    
    .hero-container p{
        font-size: 1rem;
        font-weight: 700;
    }

    .hero-container h1{
        font-size: 2rem;
        color: var(--bs-warning);
    }

    .hero-container h1{
        margin: 1rem;
    }

    .booking button{
        padding: 5px;
        /* width: 10px; */
        font-size: small;
    }

    .container{
        width:90%;
    }

    .hero-container a{
        padding: 5px !important;
        width: 100px;
    }

    .carousel img{
        height: 300px;
    }
}


@media (max-width:377px){
    .dropdown_menu{
        left: 0;
        right: 0;
        width: unset;
        border-radius: none;
    }

    .hero-container h1{
        font-size: larger;
        margin-bottom: 1rem;
    }

    .hero-container p{
        font-size:.7;
    }

    .hero-container a{
        padding: 10px;
    }
}

/* ===========contact================= */

.contact_sec{
    padding-top: 5rem;
    background-color: var(--bs-gray);
    height: 90dvh;
    color: var(--bs-gray-100);
}

.contact_img{
    height: 75vh;
    background-image: url(../img/bedroom4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.socials{
    cursor: pointer;
}

.contact_sec a{
    color: var(--bs-warning);
}

.contact-info{
    /* height: 400px; */
    align-items: center;
}

.foot{
    justify-content: space-between;
}

footer{
    padding: 1rem;
    align-items: baseline;
    justify-content: baseline;
    background-color: var(--bs-dark);
    color: var(--bs-gray-100)
}
.foot a{
    color: var(--bs-warning);
}

@media screen and (max-width:769px){
    .contact_img{
        display: none;
    }
    
    .contact_sec{
        height: fit-content;
    }
}

@media screen and (max-width:321px){
    footer h6{
        font-size: smaller;
    }
}

/* ===========FAQs================ */

.faqs{
    padding: 6rem 0;
    color: var(--bs-gray-100);
}

.faqs h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: var(--bs-warning);
}


.faqs{
    line-height: 1.7;
    background-color: var(--bs-gray-700);
    /* background-image: url(webimg/wall-0.jpg); */
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: var(--container-width-lg) ;
    margin: 0 auto;
}


.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    height: fit-content;
    background: var(--bs-secondary);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2rem;
}

h2{
    font-size: 2rem;  
}

.faqs__icon{
    align-self: flex-start;
    font-size: 1.5rem;
    
}
 
.faq p{
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}

@media screen and (max-width: 1024px) {
    /* .container {
     width: var(--container-width-md);
    } */
    h1 {
     font-size: 2.2rem;
    }
    h2{
     font-size: 1.7rem;
    }
    h3{
     font-size: 1.4rem;
    }
    h4{
     font-size: 1.2rem;
    }

    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }
} 

/* =================explore-sec========================= */

.explore-sec{
    padding-top: 5rem;
    background-color: var(--bs-gray);
    height: fit-content;
    color: var(--bs-gray-100);
}

.explore-sec .card{
    background-color: var(--bs-gray-500);
    color: rgb(54, 52, 52);
    
}

.explore-sec .card:hover{
    background-color: var(--bs-gray-600);
    border: 2px solid var(--bs-gray-100);
    box-shadow: 0rem 1rem 2rem rgba(255, 255, 255, 0.6);
    transition: all 100ms ease;
    color: var(--bs-gray-100);
}

.explore-sec .card h6{
    color: var(--bs-dark);
    font-weight: bolder;
    padding-top: 15px;
}

.explore-sec h3{
    color: var(--bs-warning);
}

.middy .card{
   width: 300px;
}
.mod .card{
   width: 240px;   
}
.mody {
    align-items: center;
    place-content: center;  
 }

@media screen and (max-width:769px){
    .mod .card{
        width: 350px;   
     }

    .mod {
        align-items: center;
        place-content: center;  
     }
    .mody {
        align-items: center;
        place-content: center;  
     }
}

/* ===============Admin page==================== */

.well {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    height: 200px;
    gap: 2rem;
    border-radius: 1rem;
}

.admin_sec{
    background-image: url(../img/home_bg\ -\ Shortcut.lnk);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: fit-content;
    /* width: 100%; */
    
}

.adds{
    padding-top: 5rem;
}

.admin_sec h4{ 
    color: #ffbb2b;    
}

.well a{
    color: var(--bs-gray-100);
}
.well a:hover{
    color: var(--bs-indigo);
}

/* @media (max-width:450px){
    .well{
        width: 350px;
    }

    .admin_sec{
        padding: 1rem !important;
    }
} */