*{
    padding: 0;
    margin: 0;
    list-style: none !important;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}


body{
    font-family: Montserrat;
}
/* 
.nav-items{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 2rem;
    position: fixed;
    height: 3rem;
    top: 0;
}

nav h1{
    color: white;
    font-size: 25px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
} */

.landing-image{
    height: 100vh;
    background-image:url(img/house.jpg) ;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts{
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
}

span{
    background-color: black;
    color: white;
    padding: 8px;
}

button{
    background-color: black;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
    transition-delay: 0.2s;
}

button:hover{
    background-color: white;
    color: black;
}

/* ////////////explore//////// */

.explore{
    height: 100vh;
    text-align: center;
    top: 0;
    left: 0;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 20px;
    gap: 2rem;
}

.writeup{
    margin-top: 240px;
}

.writeup span{
    font-weight: lighter;
    color: rgb(185, 170, 114);
    background: none;
}

.writeup button{
    background-color: white;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.writeup button:hover{
    transform: scale(1.2);
}

.slideshow-container{
    position: relative;

    height: 400px;
    top: 0;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    margin-top: 80px;
    border-radius: 10px;
}

.slide.active{
    opacity: 1;
}

/* ///////////booking///////// */

.booking{
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

.booking-form h2{
    color: white;
    text-align: center;
}

.booking-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

/* h2 {
  margin-bottom: 20px;
} */

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#booking-status {
  margin-top: 10px;
  font-weight: bold;
}

  button[type="submit"]{
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out;
  }

  button[type="submit"]:hover{
    transform: scale(1.2);
  }
  

  
  h5{
    justify-content: center;
    margin: 60px auto;
    padding: 2rem;
  }


  /* /////////////contact//////// */

  .contact{
    height: 100vh;
    background-color: black;
}



/* =========================================second style=============================== */



body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
    text-align: center;
}

.faq-list {
    max-width: 600px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.faq-item h3 {
    color: #333;
    margin: 0;
    font-size: 18px;
}

.faq-item p {
    margin: 10px 0;
    font-size: 14px;
}

.faq-item .answer {
    display: none;
}

.faq-item .expand {
    display: inline-block;
    font-size: 14px;
    color: blue;
    cursor: pointer;
}

.faq-item .expand:hover {
    text-decoration: underline;
}

.faq-item.active .answer {
    display: block;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
}
.footer{
    background-color: white;
    text-align: center;
    color: black;
}

/* nav h1{
    color: white;
    font-size: 50px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
} */


/* ==================INDEX========================= */


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat;
}

/* .nav-items{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
} */

/* nav h1{
    color: white;
    font-size: 50px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

/* nav ul li{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
} */

/* nav ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
} */ */

.landing-image{
    height: 100vh;
    background-image:url(img/house.jpg) ;
    filter: brightness(0.5);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts{
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
}

span{
    background-color: black;
    color: white;
    padding: 8px;
}

button{
    background-color: black;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
    transition-delay: 0.2s;
}

button:hover{
    background-color: white;
    color: black;
}

/* ////////////explore//////// */

.explore{
    text-align: center;
    top: 0;
    left: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 20px;
    gap: 2rem;
}

.writeup{
    color: black;
}
.writeup h1{
    color: black;
}
.writeup p{
    color: black;
}
.writeup span{
    font-weight: lighter;
    color: black;
    background: none;
}

.writeup button{
    background-color: gray;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.writeup button:hover{
    transform: scale(1.2);
}

.slideshow-container{
    position: relative;
    height: 400px;
    top: 0;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    margin-top: 80px;
    border-radius: 10px;
}

.slide.active{
    opacity: 1;
}

.footer{
    background-color: black;
    text-align: center;
    color: white;
}
#hq{
    font-size: 500%;
filter: brightness(5);
color: white;

}
.texts{
filter: brightness(20);
filter: opacity(100%);
}
#a{
    color: white;
}


/* =========================NEW NAV============== */

.nav--container{
    /* height: 5rem; */
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color:black;
    align-items: center;
    font-size: larger;
    /* position: fixed; */
    top: 0;
    z-index: 1;
}

.nav-link{
    display: flex;
    padding: 0 30px;
    gap: 75px;
    color:rgb(255, 254, 254);
}

.registration{
    position: absolute;
    right: 5rem;
    background-color: goldenrod;
    width: 110px;
    text-align: center;
    border-radius: 10px;
}
.registration:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 100ms ease;
}

.toggle_btn i{
    font-size: xx-large;
    display: none;
    color:var(--bs-gray-100);
}

nav a{
    color: var(--bs-gray-100);
}

.nav-link a:hover{
    color: var(--bs-teal);
    /* text-shadow: 25%; */
    font-size: 20px;
    transition: all 100ms ease;
}

#logo{
    font-weight: 800;
    font-size: larger;
    color: #f0f0f0;
}

.matt{

}

/* ====================responsive==================== */

.dropdown_menu{
    display: none;
    position: absolute;
    right:0rem;
    top: 65px;
    height: 0;
    width: 250px;
    overflow: hidden;
    z-index: 1;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    text-align: center;
    background: burlywood;
    gap:1rem;
    padding: 0.7rem;
}


.dropdown_menu a:hover{
    color: var(--bs-black);
    text-shadow: 25%;
    font-size: large;
}

.dropdown_menu li:hover{
    background-color:var(--bs-teal);
    transition: all 100ms ease;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.dropdown_menu a{
    color: var(--bs-light);
}


@media screen and (max-width:769px){
    .outer_layer .nav-link{
     display: none !important;  
    }

    .registration{
        display: none;    
    }

    .dropdown_menu{
        display: block;
    }

    .nav--container i{
        display: block;
        cursor: pointer;
    }


}

@media (max-width:425px){
    .dropdown_menu{
        left: 0rem;
        width: unset;
    }

    .registration{
        display: none;
    }

}